* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #383838;
  font-weight: 300;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  text-decoration: none;
  text-align: center;
}

h2{
  font-size: 2.3rem;
}

h3{
  font-size: 1.3rem;
}
/* ------ HEADER ------*/
a{
  cursor: pointer;
}
nav {
  position: fixed; /*--LARGE SCREEN--*/
  width: 100%;
  z-index: 9;
  height: 10vh;
}

.nav-colored {
  background-color: #3a5e8a;
  transition: all 0.6s ease;
}


.nav-transparent {
  background-color: transparent;
  transition: all 0.6s ease;
}

nav .nav-wrapper {
  max-width: 100%;
  margin: 2.5px 20px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .nav-links {
  display: inline-flex;
  align-items: center;
}

.nav-wrapper .profile {
  display: flex;
  align-items: flex-end;
  margin-left: 1.5rem;
}
.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  color: white;
  font-weight: 300;
  border-radius: 0.5px;
}
.nav-links li {
  list-style: none;
}

#drop-uslugi,
#drop-wlasciciel {
  padding-bottom: 1.6rem;
}

.nav-links .drop-menu {
  background: white;
  width: 15%;
  top: 4.6rem;
  line-height: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-links li:hover .drop-menu {
  opacity: 1;
  visibility: visible;
  background-color: white;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.drop-menu li a {
  display: block;
  color: #3a5e8a;
  margin: 0;
}

.drop-menu li a:hover {
  background-color: whitesmoke;
  transition: all 0.5s out;
}

.dropdown-background-white {
  background-color: white;
  color: #3a5e8a;
  transition: all 0.6s ease;
}

.fa-angle-down {
  display: none !important;
}

.nav-wrapper .logo {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
  font-size: 22px;
}

.logo-pet {
  color: white;
  margin-top: 0;
  font-weight: 700;
}

.logo-vet {
  color: #7a9cc6;
  margin-top: 0;
  font-weight: 700;
}

.logo {
  cursor: pointer;
}
.nav-wrapper .nav-btn {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.nav-wrapper .nav-btn.cancel-btn {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

.sidebar-buttons {
  display: none;
}

.right-wrapper {
  display: flex;
  flex-direction: row;
}

button {
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5px;
  outline: none;
}

button:hover {
  background-color: #7a9cc698;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #ffffff36;
  transition: all 0.3s ease;
}

.drop-li:hover a {
  background-color: white;
  color: #3a5e8a;
  transition: all 0.5s ease;
}

/* ------ MAIN ------ */ /* ---- !!MAIN PAGE!! ----*/

p {
  padding: 1.5rem;
  text-align: justify;
}

.main-rest h3 {
  text-align: center;
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  color: #7a9cc6;
  font-size: 40px;
  font-weight: 300;
  border-top: 1px solid #7a9cc6a8;
  display: inline-block;
}

.service-description h3{
  border-top: none;
  margin-top: 0rem;
}

.main-rest {
  padding: 2rem 2rem;
  max-width: 85vw;
  margin: auto;
  float: none;
  background-color: white;
}
.start , .start-services{
  /*--START MAIN PAGE!!--*/
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("images/vet_start3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -250px;
  padding-top: 5vh;
  background-attachment: scroll;
  background-color: #8297bea8;
}

.start h2,
.start h3 {
  width: 40%;
  text-align: justify;
  color: whitesmoke;
  font-weight: 300;
}
.start-text {
  text-align: left;
  margin-left: 5rem;
}
.start-btn {
  margin-top: 1.2rem;
}
.about {
  /*--ABOUT MAIN PAGE!!--*/
  display: flex;
  flex-direction: column;
}

.about-pictures {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.about-photo {
  width: 30%;
  height: auto;
  border-top: 4px solid #7a9cc66e;
}

.about-photo:hover {
  border-top: 4px solid #7a9cc6;
  box-shadow: 0 15px 15px #00000026;
  transition: all 0.3s ease;
}
.doctors {
  /*--DOCTORS MAIN PAGE!!--*/
  height: 8rem;
  width: 8rem;
  border: 5px solid #507097de;
  border-radius: 50%;
}

.doctor-box h4 {
  font-size: 20px;
  font-weight: 400;
  color: #507097de;
  margin-top: 1rem;
}
.doctors-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.doctor-box {
  /* margin: 25px; */
  margin: 2rem 1rem;
  max-width: 21rem;
  min-width: 21rem;
  background-color: #7a9cc67c;
  font-weight: 300;
  font-size: 16px;
  color: #383838;
  padding: 25px 15px;
  height: 30rem;
  border-top: 5px solid #7a9cc6;
  box-shadow: 0 15px 15px #0000001a;
}

.doctor-box:hover {
  box-shadow: 0 15px 15px #00000026;
  transition: all 0.3s ease;
}

.create-profile {
  /*--CREATE PROFILE MAIN PAGE!!--*/
  background-color: #7a9cc6;
  width: 100%;
  margin-top: 2.5rem;
  padding-bottom: 2rem;
}

.create-profile button:hover {
  background-color: #ffffff36;
}

.create-profile h3 {
  color: white;
  border-top: 1px solid white;
  margin-top: 2rem;
}
.create-profile p {
  text-align: center;
}

.container-3 {
  /*--SERVICES MAIN PAGE!!--*/
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 1rem 2rem;
  margin: 2rem;
}

.uslugi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.uslugi h4{
  font-size: 1.8rem;
}


.container-3 li {
  background-color: whitesmoke;
  list-style: none;
}

.container-3 a:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #aec3dd;
  transition: all 0.3s ease;
  cursor: pointer;
  color: white;
}

.container-3 li a {
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
.start-services {
  /*--START SERVICES PAGE!!--*/
  height: 15rem;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  background-color: #ffffffa8;
  box-shadow: inset 0 0 0 1000px #507097c7;
}

.start-services-text {
  margin-top: 80px;
}

.start-services h2 {
  margin-left: 2rem;
  color: whitesmoke;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

.servicespage-container {
  /*--MAIN SERVICES PAGE!!--*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  justify-content: space-between;
  margin-bottom: 20px;
}


.servicespage-container img{
  object-fit: cover;
  width: 100%;
}

.servicespage-container:first-child {
  margin-top: 50px;
}

.servicespage-container:nth-child(even) {
  flex-direction: row-reverse;
}

.servicespage-container:nth-child(odd) {
  flex-direction: row;
}

/* change name icon!!!!!!*/
.picture-container { 
  height: 25rem;
  background-color: white;
  box-shadow: 0 1px 1px #0000001a;
}

.service-picture {
  display: flexbox;
  height: 25rem;
  opacity: 0.7;
  width: 100%;
}
.service-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25rem;
  background-color: #eef2f8;
  box-shadow: 0 1px 1px #0000001a;
}
.service-description p {
  margin: 0rem 0.5rem;
}

.servicespage-container:nth-child(even) .service-description {
  width: 55%;
}

.servicespage-container:nth-child(even) .picture-container {
  width: 45%;
  margin-left: 1rem;
  min-width: 33rem;
}

.servicespage-container:nth-child(odd) .service-description {
  width: 45%;
}

.servicespage-container:nth-child(odd) .picture-container {
  width: 55%;
  margin-right: 1rem;
  min-width: 38rem;
}

.service-picture:hover {
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}

#rozrod,
#dermatologia,
#okulistyka,
#chirurgia,
#kardiologia,
#stomatologia,
#USG,
#RTG {
  scroll-margin-top: 330px;
}

footer {
  /*--FOOTER --*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-nav,
.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}


footer a {
  margin-right: 0.5rem;
}

footer p {
  padding-right: 0.4rem;
}

.footer-nav {
  align-content: center;
}

/*------- MEDIA QUERIES -------*/

@media screen and (max-width: 1155px) {
  /*---SMALL SCREEN--*/
  p{
    font-size: 1rem;
  }
  
  h1{
    font-size: 2rem;
  }

  .nav-wrapper .nav-btn {
    /*--SMALL NAV--*/
    display: block;
  }

  i {
    color: white;
  }

  .right-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .nav-wrapper .nav-links {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 30vw;
    background: #3a5e8a;
    display: block;
    top: 0;
    overflow-y: auto;
    line-height: 2rem;
    padding: 5rem 1rem;
    box-shadow: 0 15px 15px #00000026;
    transition: all 0.3s ease;
  }

  .nav-visible {
    left: 0;
  }

  .nav-hidden {
    left: -100%;
  }

  .nav-links li {
    margin: 1rem 0.5rem;
    display: block;
  }

  .nav-links li a {
    width: 100%;
    display: block;
    font-size: 1rem;
    text-align: left;
  }

  .nav-wrapper ul {
    text-align: left;
  }

  #drop-uslugi,
  #drop-wlasciciel {
    padding-bottom: 0rem;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    margin-top: 0.5rem;
    background-color: transparent;
    color: white;
    width: 50%;
    top: 65px;
    line-height: 2rem;
    box-shadow: none;
    z-index: -2;
    border-left: solid 1px #28466b;
  }
  .nav-links .drop-menu li {
    margin: 0;
  }
  .nav-links .drop-menu li a {
    font-size: 0.8rem;
    color: white;
    padding-left: 1rem;
    width: 100%;
    line-height: 1.5rem;
  }

  .nav-links li:hover .drop-menu {
    background-color: transparent;
  }

  .drop-menu li a:hover {
    background-color: #f5f5f53d;
    transition: all 0.5s out;
  }

  .drop-menu-mobile-visible {
    display: block;
  }

  .drop-menu-mobile-invisible {
    display: none;
  }

  .fa-angle-down {
    display: inline-block !important;
    margin-left: 1rem;
    transition: all 0.2s ease-in;
  }


  .drop-li:hover a {
    background-color: unset;
    color: unset;
  }

  .drop-li:hover .drop-btn {
    background-color: #f5f5f53d;
    color: white;
  }

  .doctors-list {
    /*--SMALL DOCTORS--*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .doctor-box {
    height: fit-content;
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
  }
  .doctor-box h2{
    font-size: 1.3rem;
  }

  .create-profile {
    /*--SMALL CREATE PROFILE--*/
    padding-bottom: 2rem;
  }
  .create-profile p {
    text-align: center;
    margin: 1rem;
  }

  .create-profile h3 {
    text-align: center;
    border-top: none;
  }
  .container-3 {
    /*--SMALL SERVICES--*/
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 100px);
  }

  /*--SMALL /SERVICES REST--*/

  .servicespage-container {
    height: auto;
  }

  .servicespage-container:nth-child(even),
  .servicespage-container:nth-child(odd) {
    flex-direction: column;
  }


  .service-picture,
  .service-description {
    height: 25rem;
    width: 65vw;
    object-fit: cover;
  }


  .servicespage-container:nth-child(even) .picture-container,
  .servicespage-container:nth-child(odd) .picture-container,
  .servicespage-container:nth-child(even) .service-description,
  .servicespage-container:nth-child(odd) .service-description {
    width: 65vw;
    margin: 0;
    min-width: 65vw;
  }

  .picture-container {
    border-top: 4px solid #7a9cc66e;
  }

  .picture-container:hover {
    border-top: 4px solid #7a9cc6;
  }

  footer {
    /*--SMALL FOOTER--*/
    flex-direction: column;
  }
  .footer-nav {
    align-items: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 715px) {
  /*--MOBILE-DEVICE--*/
  .account-btn {
    /*--MOBILE-NAV--*/
    display: none;
  }

  .sidebar-buttons {
    display: block;
    padding-left: 20px;
  }
  

  #drop-uslugi,
  #drop-wlasciciel {
    padding-bottom: 0rem;
  }

  .nav-wrapper .nav-links {
    max-width: 60vw;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    margin-top: 0.5rem;
    background-color: transparent;
    color: white;
    width: 50%;
    top: 65px;
    line-height: 4rem;
    box-shadow: none;
    z-index: -2;
    border-left: solid 1px #28466b;
  }
  .nav-links .drop-menu li {
    margin: 0;
  }
  .nav-links .drop-menu li a {
    font-size: 1rem;
    color: white;
    padding-left: 1rem;
  }
  .sidebar-buttons {
    padding: 0.25rem 0.5rem;
  }
  .sidebar-buttons button {
    margin-top: 0.5rem;
  }

  .main-rest{
    max-width: 100%;
    padding: 0rem;
  }
  
  .start-text{
    margin-left: 1.2rem;
  }
  .start , .start-services{
    background-position: -100px -120px;
  }

  .about-pictures {
    flex-direction: column;
    justify-content: space-between;
  }

  .about-photo {
    width: 80%;
    margin-top: 1rem;
  }

  .doctor-box {
    width: 80vw;
    min-width: 80vw;
    max-width: 80vw;
  }

  .container-3 {
    /*--SMALL SERVICES--*/
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 75px);
  }
  
  .container-3 li a {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
  }


  /*--MOBILE SERVICES PAGE--*/

  .start-services {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .start-services h2 {
    font-size: 30px;
  }
  
  .service-description h3 {
    margin-top: 1rem;
  }

  .start-services-text {
    margin-bottom: 1rem;
  }

  .service-picture,
  .service-description {
    width: 95vw;
  }
  .servicespage-container:nth-child(even) .picture-container,
  .servicespage-container:nth-child(odd) .picture-container,
  .servicespage-container:nth-child(even) .service-description,
  .servicespage-container:nth-child(odd) .service-description {
    width: 95vw;
    margin: 0;
    min-width: 95vw;
  }

  footer {
    font-size: 15px;
  }
  .footer-nav{
    flex-direction: column;
  }
  .footer-nav li{
    padding: 0.5rem;
  }
 
}

@media screen and (max-width: 400px) {
  .start h2{
    font-size: 1.7rem;
  }
  .start h3{
    font-size: 1.2rem;
  }
  .container-3{
    grid-gap: 0.5rem 1rem;
    margin: 1.5rem 0;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  .start , .start-services{
    background-attachment: scroll;
  }
  
  @media screen and (max-width: 1155px) {
    .start , .start-services{
      background-position: 0px -100px;
    }
  }

  @media screen and (max-width: 1155px) {
    .start , .start-services{
      background-position: 0px 0px;
    }
  }
}